<article>
<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in collections.posts | reverse %}
  <li class="post-entries">
      <span class="postlist-item">
        {# <time class="journal-entry-responsive" datetime="{{ post.date }}">{{ post.date | fullDate }}</time> #}
        <a href="/journal/{{ post.fileSlug }}"><h2 class="post-title"> {{ post.data.title }} </h2></a>
      </span>
      {# <time class="journal-entry" datetime="{{ post.date }}"> {{ post.date | fullDate }}</time> #}
      {# {{ post.templateContent | safe }} #}
      {# <a href="/{{ post.fileSlug }}" class="permalink">Permalink</a> #}
  </li>
{% endfor %}
</ol>
</article>
