{% include "partials/_header.njk" %}
<main role="main" class="blog-content">
        {{ content | safe }}
</main>
{% include "partials/_footer.njk" %}
</div>
<script src="../assets/js/main.js"></script>
</body>
</html>
