{% include "partials/_header.njk" %}
        {{ content | safe }}
{% include "partials/_footer.njk" %}
</div>
<script src="../../assets/js/barba.js"></script>
<script src="../../assets/js/barba-css.js"></script>
<script src="../../assets/js/main.js"></script>
</body>
</html>