---
layout: layouts/base.njk
eleventyComputed:
    date: "{{ page.date }}"
---
<article class="post-item">
    <h2 class="post-title-page">{{ title }}</h2>
    <time class="journal-entry" datetime="{{ post.date }}"> {{ page.date | fullDate }} </time>
    {{ content | safe }}
    <a href="/" class="back-btn">← Go back</a>
</article>
