---
layout: layouts/base.njk
eleventyComputed:
    date: "{{ page.date }}"
---
<main role="main"  data-barba="wrapper" class="blog-content">
    <section data-barba="container">
        <article class="post-item">
            <h2 class="post-title-page">{{ title }}</h2>
            <time class="journal-entry-time" datetime="{{ post.date }}"> {{ page.date | fullDate }}</time> 
            {{ content | safe }}
            <a href="/journal" class="back-btn">← Go back</a>
        </article>
    </section>
</main>