@font-face {
    font-family: "GT America";
    src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2"),
        url("../fonts/GT-America-Standard-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT America";
    src: url("../fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2"),
        url("../fonts/GT-America-Standard-Regular-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

:root {
    --background: #FFFFFF;
    --sidebar-background: #E0E0AE;

    --text-primary: #1a1a1a;
    --text-secondary: #868e96;

    --link-default: #222222;
    --link-hover: #4E4E4E;

    --accent: #656531;

    --font-size-lg: 1.225rem;
    --font-size-md: 0.925rem;
    --font-size-sm: 0.85rem;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GT America', sans-serif;
    font-feature-settings: "ss03";
    background-color: var(--background);
    color: var(--text-primary);
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p,
li {
    font-size: var(--font-size-md);
    line-height: 1.5;
    margin-bottom: 1em;
}

a[href] {
    color: var(--link-default);
    text-decoration: none;
}

a[href]:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

blockquote {
    border-inline-start: 0.25em solid var(--sidebar-background);
    padding-inline-start: 1em;
    font-style: italic;
}

sup,
sub {
    font-size: 0.75rem;
}

/* Blog container */
.blog-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "sidebar content";
    gap: 1.25em;
}

.blog-sidebar {
    grid-area: sidebar;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--sidebar-background);
    width: min(12em, 25vw);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    height: 100%;
}

.page-title-responsive {
    display: none;
}

.journal-entry-responsive {
    display: none;
}

.page-title-responsive a {
    font-weight: normal;
    font-size: var(--font-size-lg);
    letter-spacing: -0.03em;
}

.page-title {
    line-height: 1.3;
}

.page-title a {
    font-weight: normal;
    font-size: var(--font-size-lg);
    letter-spacing: -0.03em;
}

.page-title a:hover {
    text-decoration: none;
}

.blog-sidebar li,
a {
    list-style-type: none;
    font-size: var(--font-size-sm);
    margin-bottom: -0.15em;
}

.sidebar-year {
    color: var(--accent);
    margin-bottom: 0.25em;
    font-size: var(--font-size-sm);
}

.sidebar-time {
    font-size: var(--font-size-lg);
    font-weight: normal;
    letter-spacing: 0;
    display: inline-block;
}

.blog-content {
    grid-area: content;
    grid-column-start: 5;
    grid-column-end: 9;
}

/* Posts */
.journal-entry {
    color: var(--text-secondary);
    font-size: var(--font-size-sm);
    margin-top: 0.15em;
    margin-bottom: 1em;
    display: block;
}

.journal-entry-responsive {
    display: none;
}

.post-container {
    margin-top: 5em;
    margin-bottom: 5em;
}

.postlist {
    list-style: none;
    padding: 0;
}

.postlist-item {
    display: flex;
    align-items: baseline;
    counter-increment: start-from -1;
}

.postlist-item:before {
    display: inline-block;
    pointer-events: none;
    content: "" counter(start-from, decimal-leading-zero) ". ";
    line-height: 100%;
    text-align: right;
    padding-right: 0.25em;
    color: var(--text-secondary);
}

.post-title {
    font-size: var(--font-size-lg);
    font-weight: normal;
    letter-spacing: -0.03em;
    line-height: 1.5;
    display: inline-block;
}

.post-title:hover {
    text-decoration: underline;
}

.permalink,
.back-btn {
    font-size: var(--font-size-sm);
    color: var(--text-secondary) !important;
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    margin: 0;
}

/* Individual post */
.post-item {
    margin-top: 5em;
    margin-bottom: 5em;
}

.post-links {
    color: var(--text-secondary);
    font-size: var(--font-size-sm);
}

.post-links a {
    font-size: var(--font-size-sm);
}

/* ———————— MEDIA QUERIES ——————— */
/* Phone */
@media only screen and (min-width: 240px) and (max-width: 812px) {
    :root {
        --font-size-lg: 1.5rem;
        --font-size-md: 1rem;
        --font-size-sm: 0.85rem;
    }

    body {
        margin: 1em;
    }

    time {
        margin-top: 0;
        margin-bottom: 1em;
    }

    .blog-container {
        display: flex;
    }

    .page-title-responsive {
        display: block;
        line-height: 1.3;
    }

    .blog-sidebar {
        display: none;
    }

    .postlist-item {
        display: inline-block;
        color: var(--text-secondary);
        font-size: var(--font-size-sm);
    }

    .postlist-item:before {
        text-align: left;
        padding: 0;
        content: "#" counter(start-from, decimal-leading-zero) " / ";
    }

    .journal-entry {
        display: none;
    }

    .journal-entry-responsive {
        display: inline-block;
        margin-bottom: 0em;
        color: var(--text-secondary);
        font-size: var(--font-size-sm);
    }

    .post-title {
        margin-bottom: 0.5em;
        width: 100%;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1112px) {
    :root {
        --font-size-lg: 1.5rem;
        --font-size-md: 1rem;
        --font-size-sm: 0.85rem;
    }

    body {
        margin: 1em;
    }

    time {
        margin-bottom: 1em;
    }

    .page-title-responsive {
        display: block;
        line-height: 1.3;
    }

    .blog-container {
        display: flex;
        width: 60%;
        margin: 0 auto;
    }

    .blog-sidebar {
        display: none;
    }

    .blog-content {
        grid-area: content;
        grid-column-start: 5;
        grid-column-end: 10;
    }
}

/* Mid screens */
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
    .blog-container {
        grid-template-columns: repeat(10, 1fr);
    }

    .blog-sidebar {
        width: min(12em, 25vw);
    }

    .blog-content {
        grid-column: 5/8;
    }

    .page-title a {
        font-size: var(--font-size-lg);
    }
}

/* Big screens */
@media only screen and (min-width: 1680px) {
    :root {
        --font-size-lg: 1.25rem;
        --font-size-md: 1rem;
        --font-size-sm: 0.875rem;
    }

    .blog-container {
        gap: 1.25em;
    }

    .blog-sidebar {
        width: min(15em, 25vw);
    }

    .blog-content {
        grid-column-start: 6;
        grid-column-end: 9;
    }

    .page-title a {
        font-size: var(--font-size-lg);
    }
}