---
layout: layouts/base.njk
---
{# <main role="main"  data-barba="wrapper" class="blog-content">
    <section data-barba="container">
        <h2 class="post-title-page">{{ title }}</h2>
        <p class="post-links">An index of my blog posts.</p>
        {% set postslistCounter = collections.posts | length %}
        {% include "postslist.njk" %}
    </section>
</main> #}
<main role="main"  data-barba="wrapper" class="blog-content">
    <section data-barba="container">
        <h2 class="post-title-page">Hello there!</h2>
        <p class="post-links">Hey friend! Thank you for stopping by!</p>
        <div class="img-container home">
            {% image "anith-garden-c.jpeg", "Low-res dithered photo showing a stone seat in a garden" %}
        </div>
        <p>Welcome to my digital garden &mdash; feel free to browse around.</p>
        <p>I’m a designer exploring creativity, compassion, and emotional expression through my writing. 
            My garden is a safe haven for freedom and exploration, where I thoughtfully nurture my ideas. </p>
    </section>
</main>