---
layout: layouts/base.njk
---
{# <main role="main"  data-barba="wrapper" class="blog-content">
    <section data-barba="container">
        <h2 class="post-title-page">{{ title }}</h2>
        <p class="post-links">An index of my blog posts.</p>
        {% set postslistCounter = collections.posts | length %}
        {% include "postslist.njk" %}
    </section>
</main> #}
<main role="main"  data-barba="wrapper" class="blog-content">
    <section data-barba="container">
        <h2 class="post-title-page">Hey there!</h2>
        <p>Welcome to my personal blog &mdash; feel free to browse around.</p>

        <div class="img-container">
            {% image "sky-default-2.jpeg", "Low-resolution black and white photo showing a clear blue sky and a white streak" %}
        </div>
    </section>
</main>