---
layout: layouts/base.njk
title: Info
eleventyNavigation:
    key: Info
    order: 3
---
<article class="post-item">
    <h2 class="post-title-page">{{ title }}</h2>
    <p></p>
    <div class="img-container">
        {% image "av-photo-d.png", "Photo of this blog's author — Anith Vishwanath" %}
    </div>

    <p>Multidisciplinary creative.</p>

    <p>You can find my work at <a href="https://anith.design" target="_blank">anith.design</a>. If you'd like to contact me, you can reach out to me via <a href="mailto:hello@anith.design">email</a>.</p>

</article>