---
layout: layouts/base.njk
title: Info
eleventyNavigation:
    key: Info
    order: 3
---
<article class="post-item">
    <h2 class="post-title-page">{{ title }}</h2>
    <p style="margin-top: 0.625em">Hey there! I am Anith Vishwanath, a multidisciplinary designer exploring creativity, compassion, and emotional expression through my writing. </p>
    <div class="img-container">
        {% image "av-photo-d.png", "Portrait photo of Anith Vishwanath looking at the camera with a slight smile." %}
    </div>

    <h3 class="page-section-header">How do I pronounce your name?</h3>
    <div class="page-divider"></div>
    <p>Most people get my name pronunciation right! But here's a syllablic breakdown of my full name in any case:
    <p>Anith: <em>/uh-neeth/</em></p>
    <p>Vishwanath: <em>/vish-wah-nah-th/</em></p>

    <h3 class="page-section-header">Contact</h3>
    <div class="page-divider"></div>
    <p>You can find my work at <a href="https://anith.design" target="_blank">anith.design</a>. If you'd like to contact me, you can reach out to me via <a href="mailto:hello@anith.design">email</a>.</p>

    <p>You can also find me on:</p>
    <ul>
        <li><a href="https://are.na/anith-vishwanath" target="_blank">Are.na</a></li>
        <li><a href="https://linkedin.com/in/anithvishwanath" target="_blank">LinkedIn</li>
        <li><a href="https://read.cv/anith" target="_blank">Read.cv</a></li>
        <li><a href="https://instagram.com/anithvis" target="_blank">Instagram</a></li>
        <li><a href="https://www.pinterest.com.au/anithvishwanath/" target="_blank">Pinterest</a></li>
        <li><a href="https://www.threads.net/@anithvis" target="_blank">Threads</a></li>
        <li><a href="https://github.com/anithvishwanath" target="_blank">Github</a></li>
    </ul>

    <h3 class="page-section-header">This blog</h3>
    <div class="page-divider"></div>
    <p>This website is powered by <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, and hosted on Netlify.</p>
</article>