---
layout: layouts/base.njk
title: Now
eleventyNavigation:
    key: Now
    order: 2
---
<article class="post-item">
<h2 class="post-title-page">{{ title }}</h2>
<p class="post-links">Last updated: 9 Mar 2024.</p>

<p>This page is meant to be a snapshot of my life — my interests, goals, feelings, passions, what I am doing currently, and my future plans. 

Inspired by <a href="https://nownownow.com/" target="_blank">nownownow</a>.</p>

<h3 class="page-section-header">What am I up to?</h3>
<div class="page-divider"></div>
<p>I'm preparing to move to 🇨🇦 Canada! I will be moving to Toronto very, VERY soon and most of my energy is focused toward that at the moment.</p>

<p>I am also looking for a job and have been finishing up my design <a href="https://anith.design" target="_blank">folio</a>. (A portfolio is never truly "finished", but I think I have definitely reached a stopping point for now. 🎉)</p>

<h3 class="page-section-header">Last photo I took</h3>
<div class="page-divider"></div>
<div class="img-container">
    {% image "AA5935AA-B887-4E5C-BC0E-99B5BAA19B0D_1_105_c.jpeg", "Photo of my eye from an old camcorder" %}
</div>
<p> I took this photo today (9 Mar 2024) — a photo (of a photo) of my eye; I found this photo on my old Sony camcorder while doing some spring cleaning. Good memories! I don't know why I took so many photos of my eyes HAHA.</p>

<h3 class="page-section-header">Reading</h3>
<div class="page-divider"></div>
<p>I've been reading a lot of books over the last 3 months. These are my current reads: </p>
<ul>
<li><p>Heretics of Dune, by Frank Herbert</p></li>
<li><p>Looking for Alaska, by John Green</p></li>
<li><p>The Daily Stoic, by Ryan Holiday</p></li>
</ul>

<p>The most recent series I've read is the Farseer trilogy, by Robin Hobb, and I found it absolutely enjoyable.</p>

<h3 class="page-section-header">Listening to</h3>
<div class="page-divider"></div>
<p>I made a Spring playlist today — so it's been mostly that. Playlist below!</p>
<iframe style="border-radius:12px; margin-bottom: .625em" src="https://open.spotify.com/embed/playlist/1loEBzoxRBB5aOSX4IsPmk?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<h3 class="page-section-header">Watching</h3>
<div class="page-divider"></div>
<p>Nothing really. I haven't watched anything on Netflix (or other streaming services) in a LONG time.</p>

<h3 class="page-section-header">The Future</h3>
<div class="page-divider"></div>
<p>No plans at the moment until I get settled.</p>
<p>I've been meaning to take some courses and work on some personal ideas but I haven't been able to make time unfortunately. There is a lot going on.</p>
<p>✨ In terms of my blog though:</p> 
<ul>
<li><p>I plan to write more about design, creativity, and the creative practice this year. I've marked some  podcasts/lectures/books to help put me on that path.</p></li>
<li><p>While working on revamping my blog, I was thinking I might share some links/bookmarks/interesting finds... probably introduce tags at some point to help categorise posts.</p></li> 
<li><p>I think I may also add a /log page at some point to my blog to keep track of all media I've consumed. We shall see!</p></li>
</ul>
</article>