---
layout: layouts/base.njk
title: Now
date: 2024-03-19
eleventyNavigation:
    key: Now
    order: 2
---
<article class="post-item">
<h2 class="post-title-page">{{ title }}</h2>
<p class="post-links">Last updated on {{ page.date | fullDate }}</p>

<p>This page is meant to be a snapshot of my life — my interests, goals, feelings, passions, what I am doing currently, and my future plans. 

Inspired by <a href="https://nownownow.com/" target="_blank">nownownow</a>.</p>

<h3 class="page-section-header">What am I up to?</h3>
<div class="page-divider"></div>
<p>Of late, taking it a tad slow and easy. Recently, I visited Kariya Park in Mississauga and have been to a few other amazing places like the Port Credit Harbour!</p>

<h3 class="page-section-header">Work</h3>
<div class="page-divider"></div>
<p>I am actively looking for a job and have been finishing up my design <a href="https://anith.design" target="_blank">folio</a>. (A portfolio is never truly "finished", but I think I have definitely reached a stopping point for now. 🎉)</p>

<h3 class="page-section-header">Last photo I took</h3>
<div class="page-divider"></div>
<div class="img-container">
    {% image "ducks-at-kariya.jpeg", "Photo showing two ducks at Kariya park" %}
    <p>Ducks!!! (At Kariya Park!)</p>
</div>

<h3 class="page-section-header">Reading</h3>
<div class="page-divider"></div>
<p>I've been reading a lot of books over the last 3 months. This is my current read: </p>
<ul>
<li><p>Tress of the Emerald Sea, by Brandon Sanderson</p></li>
</ul>

<h3 class="page-section-header">Listening to</h3>
<div class="page-divider"></div>
<div class="now-playing-container">
    <div class="album-art">
        <img id="album-artwork" class="alb-art" alt="album artwork"/>
    </div>
    <div class="row">
        <div class="track-data-container">
            <span class="row-label">Track</span>
            <span id="track-name" class="row-data track"></span>
            <span class="row-label">Artist</span>
            <span id="artist-name" class="row-data artist"></span>
        </div>
        <div class="listen-data-container">
            <span class="row-label">Listened</span>
            <span id="listen-date" class="row-data time"></span>
        </div>
    </div>
</div>

<h3 class="page-section-header">Watching</h3>
<div class="page-divider"></div>
<p>Been spending time rewatching episodes of my all-time fave show — Arrested Development!</p>

<h3 class="page-section-header">The future</h3>
<div class="page-divider"></div>
<p>I've been meaning to take some courses and work on some personal ideas but I haven't been able to make time unfortunately. There is a lot going on.</p>
<p>✨ In terms of my blog though:</p> 
<ul>
<li><p>I plan to write more about design, creativity, and the creative practice this year. I've marked some  podcasts, lectures, and books to help put me on that path.</p></li>
<li><p>While working on revamping my blog, I was thinking I might share some links, bookmarks, and interesting finds... probably introduce tags at some point to help categorise posts.</p></li> 
<li><p>I think I may also add a /log page at some point to my blog to keep track of all media I've consumed. We shall see!</p></li>
</ul>
</article>
<script src="../../assets/js/now-playing.js" defer></script>