<footer class="blog-footer">
        <h4 class="blog-footer-title">About this blog</h4>
        <ul class="footer-list">
                <li>
                        <a href="/feed/feed.xml">Subscribe to RSS</a>
                </li>
                <li>Design,
                        <a href="https://github.com/anithvishwanath/Anith-Blog" target="_blank">code</a>, and words by me,
                        <a href="https://anith.design" target="_blank">Anith Vishwanath</a>. Type set in GT America by
                        <a href="https://www.grillitype.com/typeface/gt-america" target="_blank" rel="nofollow">Grilli Type</a>
                        Foundry.</li>
                <li>This website is powered by 11ty and hosted on Netlify. It uses no trackers or analytics.</li>
                <li>Last updated:
                        <time datetime="{{ buildInfo.time.raw }}">
                                {{ buildInfo.time.formatted }}
                        </time>
                        <a href="https://github.com/anithvishwanath/Repo/Anith-Blog/{{ buildInfo.hash }}" rel="noreferrer noopener" target="_blank">
                                <span>{{ buildInfo.hash }}</span>
                        </a>
                </li>
        </ul>
</footer>