<footer class="site-footer">
<ul>
        <li>Built using <a href="https://www.11ty.dev/" target="_blank">Eleventy.js</a>, and hosted with <a href="https://www.netlify.com/" target="_blank">Netlify</a></li>
        <li>All design and code &copy; 2023 Anith Vishwanath</li>
        <li>Be kind ✨</li>
    </ul>
</footer>