<footer class="blog-footer">
        <span>Be kind. 🌱🌻</span>
        <span>Design, code, words by me, <a href="https://anith.design">Anith Vishwanath</a>.</span>
        <span>Type set in GT America by <a href="https://www.grillitype.com/typeface/gt-america" target="_blank" rel="nofollow">Grilli Type</a> Foundry.</span>
</footer>