<meta property="og:title" content="{{ title or meta.title | escape }}"/>
<meta property="og:url" content="{{ meta.url }}" />
<meta property="og:description" content="{{ meta.description }}" />
<!-- <meta property="og:image" content="/static/img/logo.png" /> -->
<meta property="og:type" content="article" />